POSTGRES_DB=civitas
POSTGRES_USER=civitas
POSTGRES_PASSWORD=civitas123

DATABASE_URL="postgresql://civitas:civitas123@localhost:5432/civitas?schema=public"
CORS_ORIGIN=http://localhost:3000,http://localhost:3001
PORT=3001
NODE_ENV=development
DOMAIN=
DOCKER_CONTAINER=false

JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh

SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_KEY=tu-anon-key-de-supabase

CLOUDFLARE_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_PUBLIC_URL=
R2_VISUAL_URL=
